p {
    color: red;
}
div.burger{
    background-image: url(image/burger.png);
    background-size: cover;
    width: 25px;
    height: 25px;
}
div.open {
    background-image: url(image/close.png);
}

nav {
    display: flex;
}
nav li{
    list-style-type: none;
    margin: 0px 10px;
}
nav li a {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    p {
        color: blue;
        text-align: center;
    }

nav{
    flex-direction: column;
    display: none;

}
.open + nav {
    display: block;
}
nav li {
    text-align: center;
}

}